<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    <h1>Список товаров</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Описание: {{ product.description }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <p>В наличии: {{ product.stock }} шт.</p>  <!-- Новая строка -->

                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
                {% endif %}

                {% if product.stock > 0%}
                    <a href="{% url 'add_to_cart' product.id %}">добавить в корзину</a>
                {% else %}
                    <p style="color: red;">Нет в наличии</p>  <!-- Если товара  нет-->
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>